<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>What to do today?</title>
	<style>
		[v-cloak]{
			display: none;
		}
	</style>
	<link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class="container" id="app" v-cloak>
		<div class="card">
			<h1 :style="{
				color: inputValue.length < 10 ? 'darkred' : 'darkblue',
				fontSize: inputValue.length > 10 ? '29px' : '28px'
			}">{{ title }}</h1>
			<div class="form-control">
				<input type="time" v-model="time">
				<div class="special_info">{{info}}</div>
				<input type="text" v-bind:placeholder="placeholderString" 
				:value="inputValue"
				@input="inputChangeHandler"
				v-on:keypress.enter="addNewNote"
				/>
				<div class="important"><input type="checkbox" v-model="important">Important note</div>
				<div class="important"><input type="checkbox" v-model="first">Take the note top of the list</div>
			</div>
			<button class="btn" v-on:click="addNewNote">Add</button>
			<span :class="{
				'primary': true,
				'bold': inputValue.length > 5
			}"></span>
			<span :class="['bold', {'primary': inputValue.length > 5}]"></span>
			<hr/>
			<ul :class="{'list': true, 'list-column': column}" v-if="notes.length !== 0">
				<li class="list-counter">
					View:
					<input type="checkbox" id="my_checkbox" v-model="column" name="column">
					<label for="my_checkbox" :class="['label_checkbox', {'hide': column}]">blocks</label>
					<label for="my_checkbox" :class="['label_checkbox', {'hide': !column}]">rows</label>
				</li>
				<li :class="{'list-item': true, 'list-item-column': column}"
				 v-for="(note, index) in notes" 
				 :style="{backgroundColor: importantNotes[index] === true < 10 ? '#ffc6c6' : '#fff6c6', fontWeight: importantNotes[index] === true < 10 ? '800' : '300'}"
				 >{{note}}<strong>{{timeOfNote[index]}}</strong><button class="btn danger" v-on:click="deleteNote(index, $event)">Delete note</button></li>
				<li class="list-counter">
					<strong>Count of notes: {{notes.length}}</strong>
				</li>
			</ul>
			<div v-else>No notes here, add new one!</div>
		</div>
	</div>

	<script src="https://unpkg.com/vue@next"></script>
	<script src="script.js"></script>
	
</body>
</html>